html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('CIMA.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}

.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #2c3e50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #34495e;
}

.mensaje {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  color: #c0392b;
}
